.homeContent h1{
    font-family: 'Poppins';
    font-size: 3.5rem;
    display: block;
    text-align: center;
}

.homeContent h2{
    font-family: 'Poppins';
    font-size: 2.5rem;
    display: block;
    /* margin-top: 1.5rem; */
    text-align: center;
}

#dev{
    margin-bottom: 1.5rem;

}

.homeContent{
    width: 39vw;
margin: 5rem 25rem;
border: 2px solid gold;
padding: 2rem 4rem;
background-color: rgba(0, 0, 0, 0.6);
background: radial-gradient(rgba(177, 167, 167, 0.5), black);
border-radius: 7px;

}

#home p{
    font-size: 1.8rem;
    text-align: center;
}

#home{
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/homeBg.jpg) no-repeat center center/cover;
    z-index: -2;
}